<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.youthfighter.calendartag.mapper.DiaryMapper">
    <select id="queryDataByAuthorAndMonth" resultType="top.youthfighter.calendartag.model.Diary">
        select
        diary.id,
        diary.author,
        diary.createDateTime,
        diary.describition,
        diary.images,
        diary.reportDate,
        diary.url,
        diary.tagId,
        tag.name as "tag.name",
        tag.color as "tag.color",
        tag.id as "tag.id",
        tag.isDelete as "tag.isDelete"
        from diary
        diary LEFT JOIN tag ON diary.tagId = tag.id
        where reportDate  <![CDATA[>= ]]> #{startTime} and reportDate  <![CDATA[<= ]]> #{endTime} and author=#{author}
        order by reportDate,tag.id
    </select>

    <select id="selectDayData" resultType="top.youthfighter.calendartag.model.Diary">
        select * from diary
        where author=#{author} and reportDate=#{reportDate}
    </select>

    <insert id="insert">
        insert into diary(id, reportDate, author, createDateTime, tagId,url, images, describition)
        values(
            #{id},
            #{reportDate},
            #{author},
            #{createDateTime},
            #{tagId},
            #{url},
            #{images},
            #{describition}
        )
    </insert>

    <update id="update">
        update diary
        set year=#{year},
        month=#{month},
        day=#{day},
        reportDate=#{reportDate},
        author=#{author},
        creater=#{creater},
        createDateTime=#{createDateTime},
        duration=#{duration},
        content=#{content}
        where id=#{id}
    </update>

    <select id="tagCount" resultType="int">
        select count(*)
        from diary
        where tagId = #{id}
    </select>
</mapper>