<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.youthfighter.calendartag.mapper.TagMapper">
    <select id="queryAll" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        order by status
    </select>

    <select id="queryEnabledTags" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        order by status
    </select>

    <select id="queryTagsById" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        where id = #{id}
    </select>

    <select id="queryTagsByName" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        where name = #{name}
    </select>

    <select id="queryTagsByParam" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        where 1 = 1
        <if test="id!=null and id!=''">
            and id = #{id}
        </if>
        <if test="name!=null and name!=''">
            and name = #{name}
        </if>
        <if test="status > 0">
            and status = #{status}
        </if>
        <if test="color!=null and color!=''">
            and color = #{color}
        </if>
    </select>

    <update id="update">
        update tag
        set name = #{name},color = #{color},status = #{status}
        where id = #{id}
    </update>
    <insert id="insert">
        insert into tag(id,name,color,status)
        values (#{id},#{name},#{color},#{status})
    </insert>
</mapper>