<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.youthfighter.calendartag.mapper.TagMapper">
    <select id="queryAll" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        order by status
    </select>

    <select id="queryEnabledTags" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        order by status
    </select>

    <select id="queryTagsById" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        where id = #{id}
    </select>

    <select id="queryTagsByName" resultType="top.youthfighter.calendartag.model.Tag">
        select id, name, status, color
        from tag
        where name = #{name}
    </select>
</mapper>