.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: url(../assets/images/mainbg.jpg);
}
.my-calender{
    width: 1200px;
    margin: 50px auto;
    display: block;
}